.container {
  float: left;
  width: 100%;
  text-align: center;
  background: #ffff55a0;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}